# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
cmake-build-debug/

# CMake / build directories
build/
build-*/
**/build/
**/build-*/
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake
**/CTestTestfile.cmake
Testing/

# Specific files often found in build directories
*.cbp # Code::Blocks project file
*.xcodeproj/ # Xcode project
*.xcworkspace/ # Xcode workspace
*.sln # Visual Studio solution
*.suo # Visual Studio user options
# Executable files from test builds if not covered by generic *.out
test/Boost_Tests_run
